/* Estilos generales */
body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c; 
}

.container {
    background-color: #000000; 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center; 
    position: relative; 
    background-color: #dcdcdc; 
}

.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid #ccc; 
    margin-bottom: 20px;
    margin-top: 60px; 
    background-color: #dcdcdc; 
}

h1 {
    background-color: #FFFFFF; 
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center; 
    margin: 0 auto; 
    max-width: 90%;
    position: absolute; 
    top: 10px;
    left: 0;
    right: 0;
}

p {
    background-color: #FFFFFF; 
    color: #333; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

video {
    display: block;
    margin: 20px auto; 
    max-width: 100%;
}
iframe {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
}
